
BODY {
        

  font-family:Verdana, Geneva, sans-serif;
  font-size: 8.5pt;
 

}
p.FM_CellBodyRt {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_CellBodyRt {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Title {
        margin-left:     120.444pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -120.444pt;
        margin-top:      29.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       24.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Title {
        margin-left:     120.444pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -120.444pt;
        margin-top:      29.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       24.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_codex {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     13.680pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Courier New;
        font-style:      normal;
        font-weight:     normal;
        font-size:       7.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_codex {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     13.680pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Courier New;
        font-style:      normal;
        font-weight:     normal;
        font-size:       7.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_AppTitle {
        margin-left:     117.319pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -117.319pt;
        margin-top:      24.000pt;
        margin-bottom:   12.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       24.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_AppTitle {
        margin-left:     117.319pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -117.319pt;
        margin-top:      24.000pt;
        margin-bottom:   12.000pt;
        word-spacing:    0.250em;
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       24.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_InvisXref {
        margin-left:     14.400pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      7.000pt;
        margin-bottom:   10.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #ffffff;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_InvisXref {
        margin-left:     14.400pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      7.000pt;
        margin-bottom:   10.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #ffffff;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Footer {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Footer {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Callout {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      4.000pt;
        margin-bottom:   8.000pt;
        word-spacing:    0.250em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Callout {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      4.000pt;
        margin-bottom:   8.000pt;
        word-spacing:    0.250em;
        font-family:     Verdana;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_TableTitle {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      italic;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_TableTitle {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      italic;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_FooterRt {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_FooterRt {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellBodyCent {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_CellBodyCent {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Header {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_Header {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_DCN {
        margin-left:     14.400pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     normal;
        font-size:       5.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_DCN {
        margin-left:     14.400pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      3.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     normal;
        font-size:       5.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_FooterLft {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_FooterLft {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_HeaderRt {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.FM_HeaderRt {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        background-color: none;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
caption.BodyLevel1 {
        
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 8.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0.250em;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	letter-spacing: 0.00em;
	font-size: 10pt;
	margin-left: 0in;
	text-decoration: none;

}
OL, UL {
        margin-top: 0px;
        margin-bottom: 0px;
}

span.FM_ChapNo {
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     bold;
        font-size:       24.0pt;
        color:           #ffffff;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_PageNumber {
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_filename {
        font-family:     Times New Roman;
        font-style:      italic;
        font-weight:     normal;
        font-size:       11.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_EquationVariables {
        font-style:      italic;
        
}
span.FM_wingding {
        font-family:     Wingdings;
        font-style:      normal;
        font-weight:     normal;
        font-size:       11.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_Edit {
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       11.0pt;
        color:           #ff0000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_Callout {
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        letter-spacing:  0.00em;
        
}
span.FM_reverse {
        color:           #ffffff;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_Hyperlink {
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       11.0pt;
        color:           #0000ff;
        text-decoration: underline;
        letter-spacing:  0.00em;
        
}
span.FM_Code {
        font-family:     Courier New;
        font-style:      normal;
        font-weight:     normal;
        font-size:       11.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_BulletSymbol {
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        letter-spacing:  0.00em;
        
}
span.FM_blue {
        color:           #0000ff;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_AppNo {
        font-family:     Trebuchet MS;
        font-style:      normal;
        font-weight:     bold;
        font-size:       24.0pt;
        color:           #ffffff;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_ThirdParty {
        font-family:     Arial;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_EquationNumber {
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       8.0pt;
        color:           #000000;
        letter-spacing:  0.00em;
        
}
span.FM_StepNumber {
        font-family:     Arial;
        font-style:      normal;
        font-weight:     bold;
        font-size:       11.0pt;
        color:           #000000;
        letter-spacing:  0.00em;
        
}
span.FM_italic {
        font-family:     Trebuchet MS;
        font-style:      italic;
        font-weight:     normal;
        font-size:       11.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}